@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: 'Open Sans';
    background-color: transparent;
    color: #3c3c3c;
}

md-checkbox {
    font-weight: normal;
}

label {
    font-weight: normal;
}

.mat-progress-bar {
    height: 3px !important;
}

.mat-progress-bar-buffer {
    background-color: white !important;
}

.carousel-item-button:last-child .mat-button-ripple.mat-ripple,
.carousel-item-button:last-child .mat-button-focus-overlay {
    border-radius: 0 0 10px 10px !important;
}

[hidden] {
    display: none !important;
}

.cdk-overlay-dark-backdrop {
    border-radius: 10px;
}
